/* fonts and colors */

body {
	/* font */
}
header, footer {
	background-color: black;
}
.navbar {
	background-color: #454545;
}
.container-fluid {
	background-color: #1d2329;
}
.row > div {
	background-color: #181818;
}

/* positioning */

* {
	margin: 0;
	padding: 0;
	/* border: white solid 1px; */
}
.heading {
	position: relative;
}
.heading > button {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #1d2329;
	border: 2px solid #1d2329;
}
img {
	width: 30%;
}
input {
	width: 40px;
	height: 40px;
	background-color: #32a23d;
	border-radius: 50%;
	display: inline-block;
	border: none;
	color: white;
	padding: 10px;
}